@model IEnumerable<DAL.Models.Employee>

@{
    ViewData["Title"] = "EmployeeList";
}

<h1>EmployeeList</h1>

<p>
    <a asp-action="AddEmp">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EName)
                </td>
                <td>    
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="EditEmp" asp-route-Eid="@item.Eid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Eid">Details</a> |
                    <a asp-action="DeleteEmp" asp-route-Eid="@item.Eid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
